* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f5f5f5;
    color: #222;
}


/* Navigation */

nav {
    background: #222;
    color: white;
    padding: 20px 8%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}


/* Hero */

.hero {
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 40px;
}

.hero h1 {
    font-size: 45px;
}

.hero span {
    color: #6c63ff;
}

.hero p {
    font-size: 20px;
    margin: 15px;
}


/* Sections */

section {
    padding: 70px 10%;
    text-align: center;
}

section h2 {
    font-size: 32px;
    margin-bottom: 25px;
}


/* Button */

.button,
button {
    display: inline-block;

    background: #6c63ff;
    color: white;

    padding: 12px 25px;

    border: none;
    border-radius: 5px;

    text-decoration: none;
    cursor: pointer;
}

.button:hover,
button:hover {
    opacity: 0.8;
}


/* Skills */

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skills div {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
}


/* Projects */

.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 25px;

    width: 280px;

    border-radius: 10px;
}


/* Contact */

form {
    max-width: 500px;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea {
    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 5px;

    font-size: 16px;
}


/* Footer */

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}