<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My Portfolio</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- Navigation -->
    <nav>
        <h2>My Portfolio</h2>

        <div>
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </div>
    </nav>


    <!-- Home -->
    <section id="home" class="hero">

        <h1>Hello, I'm <span>Raj Joshi</span></h1>

        <p>
            Python Developer | Web Developer | Student | Java Developer | Spring boot enthusiast
        </p>

        <a href="#contact" class="button">
            Contact Me
        </a>

    </section>


    <!-- About -->
    <section id="about">

        <h2>About Me</h2>

        <p>
            I am a passionate student interested in Python,java, Spring boot, web development and software development.
            I enjoy learning new technologies and building
            useful applications.
        </p>

    </section>


    <!-- Skills -->
    <section id="skills">

        <h2>My Skills</h2>

        <div class="skills">

            <div>Python</div>
            <div>HTML</div>
            <div>CSS</div>
            <div>Java and Spring Boot</div>

        </div>

    </section>


    <!-- Projects -->
    <section id="projects">

        <h2>My Projects</h2>

        <div class="projects">

            <div class="card">
                <h3>Calculator</h3>
                <p>
                    A command-line calculator developed using Python.
                </p>
            </div>

            <div class="card">
                <h3>To-Do App</h3>
                <p>
                    A simple application for managing daily tasks.
                </p>
            </div>

            <div class="card">
                <h3>News Scraper</h3>
                <p>
                    A Python project that collects news information
                    from websites.
                </p>
            </div>
            
            <div class="card">
                <h3>Ram nam jap website</h3>
                <p>
                    A simple website where people can do lord name japs
                </p>
            </div>

        </div>

    </section>


    <!-- Contact -->
    <section id="contact">

        <h2>Contact Me</h2>

        <form action="/contact" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Your Name"
                required
            >

            <input
                type="email"
                name="email"
                placeholder="Your Email"
                required
            >

            <textarea
                name="message"
                placeholder="Your Message"
                rows="5"
                required
            ></textarea>

            <button type="submit">
                Send Message
            </button>

        </form>

    </section>


    <!-- Footer -->
    <footer>

        <p>
            © Raj Joshi | My Portfolio
        </p>

    </footer>

</body>